{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Utenti
{% endblock %}

{% block title %}
    Lista Utenti
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            {%  if user.is_authenticated %}
                {%  include 'user_management/base/order_by.html' %}
            {% endif %}
            {% include 'user_management/base/base_list.html' %}
        </div>
    </div>
{% endblock %}


