{% extends 'base_operations.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Aggiorna il tuo profilo{% endblock %}
{% block title %}Aggiorna il tuo profilo{% endblock %}

{% block mod_buttons %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <input class="btn btn-success m-1" type="submit" value="Aggiorna il profilo">
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <a class="btn btn-primary m-1" href="{% url 'user_management:user-overview' user.pk%}">Ritorna alla panoramica</a>
        </div>
    </div>
{% endblock %}