{% extends 'base_operations.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}Profilo{% endblock %}
{% block title %}Profile{% endblock %}

{% block mod_buttons %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <input class="btn btn-success" type="submit" value="Crea profilo">
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <a class="btn btn-primary ml-3" href="{% url 'user_management:user-overview' user.pk%}">Ritorna alla panoramica</a>
        </div>
    </div>
{% endblock %}