{%  extends 'base.html' %}
{% comment %}
Base template used to show user data (account).
{% endcomment %}


{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
    Profilo utente {{  object.username }}
{% endblock %}
{% block title %}
    {{  object.username }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row rounded shadow">
            <div class="col-4">
                {% if object.has_profile %}
                    <h6 class="card-title font-bold">IMMAGINE DEL PROFILO </h6>
                    <img class ="card-img" src="{{ object.profile.profile_img.url }}" width="150px" height="300px">
                {% else %}
                    {% if  object == user %}
                        <h6 class="card-title">Crea un profilo per inserire un'immagine</h6>
                    {% else%}
                        <h6 class="card-title">Nessuna immagine del profilo </h6>
                    {% endif %}

                {% endif %}
            </div>
            <div class="col-8 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <span class="font-bold">USERNAME : {{ object.username }}</span><br>
                    </div>
                    <div class="row">
                        <span class="font-bold">NOME : {{ object.fisrt_name }}</span><br>
                    </div>
                    <div class="row">
                        <span class="font-bold">COGNOME : {{ object.last_name }}</span><br>
                    </div>
                    <div class="row">
                        <span class="font-bold " style="word-break: break-word">EMAIL : {{ object.email }}</span><br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="font-bold">DATA DI ISCRIZIONE : </span>
                            <span class="font-bold">{{ object.date_joined|date:'l'}}</span><br>
                            <span class="font-bold">{{ object.date_joined|date:'d/m/Y' }}</span>
                        </div>

                    </div>

                    {% if object.has_profile and object.profile.birthday %}
                        <div class="row">
                            <div class="col">
                                <span class="text-center font-bold">DATA DI NASCITA : {{ object.profile.birthday }}</span>
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>


        {% if object == user %}
            <div class="row justify-content-center p-3">
                <div class="col-lg-6 col-12 p-2">
                    <a class="card bg-warning text-white text-center m-1" href="{% url 'user_management:user-update' user.pk %}">
                        <div class="card-body m-1">
                            <h5 class="card-text m-1">Modifica account</h5>
                        </div>
                    </a>
                    <a class="card bg-danger text-white text-center trigger-btn m-1" id="card-delete-user"
                       data-bs-target="#AccountModal" data-bs-toggle="modal">
                        <div class="card-body m-1" style="cursor: pointer">
                            <h5 class="card-text m-1 ">Elimina account</h5>
                        </div>
                    </a>

                </div>

                <div class="col-lg-6 col-12 p-2">

                    {% if not object.has_profile %}

                        <a class="card bg-primary text-white text-center m-1" href="{% url 'user_management:user-profile-create' %}">
                            <div class="card-body m-1">
                                <h5 class="card-text m-1">Crea Profilo</h5>
                            </div>
                        </a>
                    {% else %}

                        <a class="card bg-primary text-white text-center m-1" href="{% url 'user_management:user-profile-update' object.pk %}">
                            <div class="card-body m-1">
                                <h5 class="card-text m-1">Modifica profilo</h5>
                            </div>
                        </a>
                        <a class="card bg-danger text-white text-center trigger-btn m-1" id="card-delete-profile"
                           data-bs-target="#ProfileModal" data-bs-toggle="modal" >
                            <div class="card-body m-1" style="cursor: pointer">
                                <h5 class="card-text m-1">Elimina profilo</h5>
                            </div>
                        </a>

                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <div id="ProfileModal" tabindex="-1" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Vuoi davvero eliminare il tuo profilo ?<br> </h4>
                        <span>Perderai la tua immagine del profilo</span>
                    </div>
                    <form method="POST" action="{%  url 'user_management:user-profile-delete' object.pk %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="modal-footer">
                            <input class='btn btn-danger' type="submit" value ='Elimina '>
                            <a class='btn btn-success' href="{% url 'user_management:user-overview' object.pk %}">Annulla</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="AccountModal" tabindex="-1" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Vuoi davvero eliminare il tuo account ? <br></h4>
                        <span>Gli articoli e le schede tecniche che hai inserito verranno eliminati</span>
                    </div>
                    <form method="POST" action="{%  url 'user_management:user-delete' object.pk %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="modal-body">
                            <p>Questa azione non sarà reversibile</p>
                        </div>
                        <div class="modal-footer">
                            <input class='btn btn-danger' type="submit" value ='Elimina '>
                            <a class='btn btn-success' href="{% url 'user_management:user-overview' object.pk %}">Annulla</a>
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

