{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}
    {{ object.title }}
{% endblock %}
{% block title %}
    {{ object.title }}

{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 rounded shadow m-2">
            <div class="container-fluid">
                <div class="card-header text-center">
                    <span>Pubblicato :{{ article.publish }}<br>
                        {% if article.updated %} Ultimo aggiornamento : {{ article.updated }}{% endif %}</span>
                </div>
                <div class="card-body">
                    {% if object.created_by == user %}
                        <div class="text-right mb-5 mu-1">
                            <a class="btn btn-warning"
                               href="{% url 'article:article-update' object.pk%}">Modifica articolo</a>
                            <a class="btn btn-danger" id="card-delete-article"
                               href="#ArticleModal" data-bs-toggle="modal">Elimina articolo</a>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if article.img %}
                            <div class="col-lg-6 col-12 mu-10 mr-2 mb-2">
                                <img class="card-img " src="{{ object.img.url }}" alt="Nessuna immagine disponibile ">
                            </div>
                        {% endif %}
                        <div class="col-lg-6 col-12">
                            <p class="card-text">{{ object.content }}</p>
                            {% if article.smartphone %}
                                Link scheda tecnica <a class="card-link"
                                                       href="{% url 'smartphone:smartphone-detail' article.smartphone.pk %}">
                                {{ article.smartphone }} </a>

                            {% endif %}
                        </div>


                    </div>
                </div>
                <div class="card-footer ">
                    Scritto da <a class="card-link"
                                  href="{% url 'user_management:user-overview' article.created_by.pk %}">
                    {{ article.created_by.username }}</a>

                </div>
            </div>
        </div>




    </div>
    <div class="row p-1 justify-content-center ">
        <div class="col-10 rounded shadow m-2">
            {% include 'article/base/base_comment.html' with object=object %}
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class="col-10 rounded shadow m-2 p-3">

            <h2 class="font-bold font-large text-center">Commenti</h2>

            {% for comment in comments %}
                <div class="container p-2">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-12 rounded shadow">
                            <div class="row justify-content-center m-1">
                                <div class="col-lg-6 col-12 text-center">
                                    <h4 class="card-title text-center font-bold" >{{ comment.title }}</h4>
                                </div>
                            </div>
                            <div class="row justify-content-center m-1">
                                <div class="col-12">
                                    <p class="text-center">{{ comment.description }}</p>
                                </div>
                            </div>
                            <div class="row justify-content-center m-1">
                                <div class="col-12 like-container m-1">
                                <span data-comment-id="{{ comment.pk }}" class="likin" >
                                    <i class="fa fa-thumbs-up {% if comment.pk in already_liked %}liked{% endif %}"
                                       aria-hidden="true"></i></span>
                                    <span class="number-of-likes">{{ comment.total_likes }}</span>
                                </div>
                            </div>
                            <div class="row justify-content-center m-1">
                                <div class="col-12 card-footer text-muted m-3">
                                    <span>Postato da</span>
                                    <a href="{% url 'user_management:user-overview' comment.user.pk %}" class="card-link">{{ comment.user.username }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    <div id="ArticleModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Eliminare {{ object.title }} ? </h4>
                </div>
                <form method="POST" action="{%  url 'article:article-delete' object.pk %}">
                    {% csrf_token %}

                    <div class="modal-body">
                        <p>Questa azione non sarà reversibile</p>
                    </div>
                    <div class="modal-footer">
                        <input class='btn btn-success' type="submit" value ='Elimina '>
                        <a class='btn btn-danger' href="{% url 'article:article-detail' object.pk %}">Annulla</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        // AJAX CALL
        $('.likin').click(function(){
            let selector = $(this).closest(".like-container").find(".fa-thumbs-up")
            let numselector = selector.closest(".like-container").find(".number-of-likes")
            $.ajax({
                type: "POST",
                url: "{% url 'article:article-like'%}",
                data: {'comment_pk': $(this).attr('data-comment-id'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response) {
                    if(response.liked === true){
                        selector.toggleClass('liked')
                        console.log($(this));
                        numselector.text(response.likes_count);
                    }
                    else if(response.liked===false){
                        $(selector).toggleClass('liked')
                        numselector.text(response.likes_count);
                    }


                }

            });

        })
    </script>
{% endblock %}