{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Articoli
{% endblock %}
{% block title %}
    Lista Articoli
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            {%  if user.is_authenticated %}
                {% include 'article/base/order_by.html' %}
            {% endif %}
            {% include 'article/base/base_list.html' %}
        </div>
    </div>
{% endblock %}

