.container-fluid{
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}
.navbar{
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
}


.checked {
  color: orange;
  cursor : pointer
}

.review {
  color: orange;
}

.font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.font-medium {
  font-size: 25px;
}

.font-small {
  font-size: 15px;
}

.font-large {
  font-size: 35px;
}

.likin {
  font-size:15px;
  cursor : pointer;
}

.liked{
  color:blue;
}

.toggler span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.toggler span:after {

  content: '\1f869 \1f86b';
  position: absolute;
  opacity: 0;
  top: 0;
  left: +20px;
  transition: 0.5s;
}
 .toggler:hover span {
  padding-left: 25px;
}

.toggler:hover span:after {
  opacity: 1;
  left: 0;
}


body, html {
  height: 100%;
}

.bg-home {
  /* The image used */
  background-image: url("/static/img/bg_home.jpg");

  /* Full height */
  height: max-content;

  /* Center and scale the image nicely */
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-navbar-toggled {
    background-color: #e4e8f0 ;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

input[type=file] {
  color : transparent;
}
.compare-container{
  min-height: 500px;
}
.article-box{
  min-height: 371px;
}
.smartphone-img{
  height: 305px;
  width: 150px;
  object-fit: fill;
}
