{% load crispy_forms_tags %}
{%  url 'smartphone:smartphone-detail ' as detail_url %}


<div class="compare-container row justify-content-center align-items-stretch">
    <div class="col-auto p-2">
        <img class="img-fluid smartphone-img" src="{{ object.img.url }}" alt="Nessuna immagine disponibile ">
    </div>



    <div class="col-lg-6 col-auto d-flex justify-content-center">
        <div class="container">
            <div class="row my-3">
                <div class="col-6">
                    <h5 class="font-medium">{% if object.mean_rating != 0 %} Media valutazione utenti : {{ object.mean_rating }} <i class="fas fa-star review "></i>{% else %}Nessuna valutazione{% endif %}</h5>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <div class="row">
                        <i class="fas fa-tachometer-alt fa-3x"></i>
                    </div>
                    <div class="row">
                                        <span class="font-bold">
                            {{ object.max_download_speed }}Mbps
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <i class="fas fa-microchip fa-3x"></i>
                    </div>
                    <div class="row">
                                    <span class="font-bold">
                            {{ object.processor }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row my-3">

                <div class="col-6">
                    <div class="row">
                        <i class="fas fa-sd-card fa-3x"></i>
                    </div>
                    <div class="row">
                                    <span class="font-bold">
                            {{ object.rom }} GB
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <i class="fas fa-memory fa-3x"></i>
                    </div>
                    <div class="row">
                                    <span class="font-bold">
                            {{object.ram}} GB
                        </span>
                    </div>
                </div>

            </div>

            <div class="row my-3">
                <div class="col-6">
                    <div class="row">
                        <i class="fas fa-mobile-alt fa-3x"></i>
                    </div>
                    <div class="row">
                                    <span class="font-bold">
                            {{ object.display_type}}
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <i class="fas fa-camera fa-3x"></i>
                    </div>
                    <div class="row">
                                    <span class="font-bold">
                            {{object.camera_megapixel_rear}}Mpx
                        </span>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-6">
                        <div class="row">
                            <i class="fas fa-video fa-3x"></i>
                        </div>
                        <div class="row">
                                        <span class="font-bold">
                            {{object.video_resolution_rear}}
                        </span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            {% if object.brand|stringformat:'s' == "APPLE" %}
                                <i class="fab fa-apple fa-3x"></i>
                            {% else %}
                                <i class="fab fa-android fa-3x"></i>
                            {% endif %}
                        </div>
                        <div class="row">
                                        <span class="font-bold">
                            {{ object.os }}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    {% if object.created_by == user and not compare %}
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-warning m-1" href="{% url 'smartphone:smartphone-update' object.pk%}">Modifica scheda</a>
            <a class="btn btn-danger m-1" id="card-delete-user" href="#SmartphoneModal" data-bs-toggle="modal">Elimina scheda</a>
        </div>


        <div id="SmartphoneModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Eliminare {{ object.name }} ? </h4>
                    </div>
                    <form method="POST" action="{%  url 'smartphone:smartphone-delete' object.pk %}">
                        {% csrf_token %}

                        <div class="modal-body">
                            <p>Questa azione non sarà reversibile</p>
                        </div>
                        <div class="modal-footer">
                            <input class='btn btn-danger' type="submit" value ='Elimina '>
                            <a class='btn btn-success' href="{% url 'smartphone:smartphone-detail' object.pk %}">Annulla</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    {% endif %}
</div>





<div class="row justify-content-around">
    {% if compare %}
        <div class="col-12 rounded shadow p-2 m-2">
    {% else %}
        <div class="col rounded shadow p-2 m-2">
    {% endif %}
    <div class="row">

        <h4 class="font-bold text-center p-3 ">Generali</h4>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Dimensioni</th>
                    <td>{{ object.size_width }} mm x {{ object.size_height }} mm x {{ object.size_depth }} mm</td>
                </tr>
                <tr>
                    <th scope="row">Sistema Operativo</th>
                    <td>{{ object.os }}</td>
                </tr>
                <tr>
                    <th scope="row">Peso</th>
                    <td>{{ object.weight }} grammi </td>
                </tr>
                <tr>
                    <th scope="row">Marca</th>
                    <td>{{ object.brand }} </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>



    {% if compare %}
        <div class="col-12 rounded shadow p-2 m-2">
    {% else %}
        <div class="col rounded shadow p-2 m-2">
    {% endif %}

    <div class="row">
        <h4 class="font-bold text-center p-3">Rete</h4>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped ">
                <tbody>
                <tr>
                    <th scope="row">Tipologia sim</th>
                    <td>{{ object.sim }}</td>

                </tr>
                <tr>
                    <th scope="row">Dual sim</th>
                    <td>{% if object.dual_sim %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">LTE</th>
                    <td>{% if object.lte %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">5G</th>
                    <td>{% if object.g_5 %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Velocità max download</th>
                    <td>{{ object.max_download_speed }} Mbps</td>
                </tr>


                <tr>
                    <th scope="row">Velocità min download</th>
                    {% if object.min_download_speed %}
                        <td>{{ object.min_download_speed }} Mbps</td>
                    {% else%}
                        <td>Non specificata</td>
                    {% endif %}
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    </div>
    </div>



    <div class="row justify-content-around">
        {% if compare %}
            <div class="col-12 rounded shadow p-2 m-2">
        {% else %}
            <div class="col rounded shadow p-2 m-2">
        {% endif %}

        <div class="row">
            <h4 class="font-bold text-center p-3 ">Specifiche</h4>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped ">
                    <tbody>
                    <tr>
                        <th scope="row">Processore</th>
                        <td>{{ object.processor }}</td>

                    </tr>
                    <tr>
                        <th scope="row">64 bit</th>
                        <td>{% if object.bit_64 %}<i class="fas fa-check"></i>
                        {% else %}<i class="fas fa-times"></i>{% endif %}
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Memoria Ram</th>
                        <td>{{ object.ram }} Gb</td>
                    </tr>
                    <tr>
                        <th scope="row">Memoria interna</th>
                        <td>{{ object.rom }} Gb</td>
                    </tr>
                    <tr>
                        <th scope="row">Memoria espandibile</th>
                        <td>{% if object.exp_mem %}<i class="fas fa-check"></i>
                        {% else %}<i class="fas fa-times"></i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Capacità batteria</th>
                        <td>{{ object.battery_mah }} Mah</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>


        {% if compare %}
            <div class="col-12 rounded shadow p-2 m-2">
        {% else %}
            <div class="col rounded shadow p-2 m-2">
        {% endif %}
        <div class="row">
            <h4 class="font-bold text-center p-3 align-center">Display</h4>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped ">
                    <tbody>
                    <tr>
                        <th scope="row">Dimensioni</th>
                        <td>{{ object.display_inches}} pollici</td>
                    </tr>
                    <tr>
                        <th scope="row">Risoluzione</th>
                        <td>{{ object.display_resolution_width }} px x
                            {{ object.display_resolution_height }} px</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo</th>
                        <td>{{ object.display_type}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Numero di colori</th>
                        <td>{{ object.display_colors}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tecnologia Vetro</th>
                        <td>{{ object.display_protection}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        </div>

        </div>




        <div class="row justify-content-around">
            {% if compare %}
                <div class="col-12 rounded shadow p-2 m-2">
            {% else %}
                <div class="col rounded shadow p-2 m-2">
            {% endif %}

            <div class="row">
                <h4 class="font-bold text-center p-3">Fotocamera</h4>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped ">
                        <tbody>
                        <tr>
                            <th scope="row">Megapixel fotocamera posteriore</th>
                            <td>{{ object.camera_megapixel_rear }} Megapixel</td>
                        </tr>
                        <tr>
                            <th scope="row">Megapixel fotocamera frontale</th>
                            <td>{{ object.camera_megapixel_front }} Megapixel</td>
                        </tr>
                        <tr>
                            <th scope="row">Stabilizzazione</th>
                            <td>{% if object.camera_stabilization %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Autofocus</th>
                            <td>{% if object.camera_autofocus %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Flash</th>
                            <td>{% if object.camera_flash %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HDR</th>
                            <td>{% if object.camera_hdr %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Geo Tagging</th>
                            <td>{% if object.camera_geo_tagging %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Face Detection</th>
                            <td>{% if object.camera_face_detection %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>


            {% if compare %}
                <div class="col-12 rounded shadow p-2 m-2">
            {% else %}
                <div class="col rounded shadow p-2 m-2">
            {% endif %}

            <div class="row">
                <h4 class="font-bold text-center p-3 ">Videocamera</h4>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped ">
                        <tbody>
                        <tr>
                            <th scope="row">Risoluzione Video Posteriori</th>
                            <td>{{ object.video_resolution_rear }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Risoluzione Video Frontali</th>
                            <td>{{ object.video_resolution_front }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Autofocus</th>
                            <td>{% if object.video_autofocus %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Stabilizzazione</th>
                            <td>{% if object.video_stabilization %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">FPS</th>
                            <td>{{ object.video_fps }} FPS</td>
                        </tr>
                        <tr>
                            <th scope="row">Slowmotion</th>
                            <td>{% if object.video_slowmotion %}<i class="fas fa-check"></i>
                            {% else %}<i class="fas fa-times"></i>{% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>

            <div class="row justify-content-around">
                {% if compare %}
                    <div class="col-12 rounded shadow p-2 m-2">
                {% else %}
                    <div class="col rounded shadow p-2 m-2">
                {% endif %}

                <div class="row">
                    <h4 class="font-bold text-center p-3 align-center">Connettività</h4>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped ">
                            <tbody>
                            <tr>
                                <th scope="row">WiFi</th>
                                <td>{% if object.wifi %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Bluetooth</th>
                                <td>{% if object.bluetooth %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">NFC</th>
                                <td>{% if object.nfc %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">GPS</th>
                                <td>{% if object.gps %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">USB</th>
                                <td>{% if object.usb %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>



                {% if compare %}
                    <div class="col-12 rounded shadow p-2 m-2">
                {% else %}
                    <div class="col rounded shadow p-2 m-2">
                {% endif %}

                <div class="row">
                    <h4 class="font-bold text-center p-3">Sensori</h4>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped ">
                            <tbody>
                            <tr>
                                <th scope="row">Accelerometro</th>
                                <td>{% if object.accelerometer %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Sensore di prossimità</th>
                                <td>{% if object.proximity %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Giroscopio</th>
                                <td>{% if object.gyroscope %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Bussola</th>
                                <td>{% if object.compass %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Barometro</th>
                                <td>{% if object.barometer %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Impronta digitale</th>
                                <td>{% if object.fingerprint %}<i class="fas fa-check"></i>
                                {% else %}<i class="fas fa-times"></i>{% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                </div>






