{% load static %}
<div class="container-fluid">
    {% for smartphone in object_list %}
        <div class="row">
            <div class="col d-flex box-width-radius2  align-items-center justify-content-center rounded shadow p-4-lg m-3-lg mb-2 bg-white w-auto">
                <div class="rounded w-100 m-1 p-1">
                    {%  include 'smartphone/base/list_element.html' with smartphone=smartphone%}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
