{% load crispy_forms_tags %}
{% load static %}


<div class="container rounded shadow p-4">
    <div class="row">
        <h2 class="font-bold font-large text-center m-3">Lascia una recensione</h2>
    </div>
    <div class="row">
        <form method="post">{% csrf_token %}
           <div class="row justify-content-center p-2 m-3">
                {% crispy form %}
                <div class="col d-flex justify-content-center align-items-center">
                    <input type="hidden" name="rating" value="" id="js_data_input">
                    <input class="btn btn-success m-1" type="submit" value="Pubblica">
                    <a class="btn btn-danger m-1" href="{% url 'smartphone:smartphone-detail' object.pk%}">Annulla</a>
                </div>
            </div>
        </form>
    </div>
</div>


