<div class="col-lg">
            <div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
                {% include 'searchbar.html' with compare=True %}
                {% if not clicked %}
                    {% for smartphone in object_list %}
                        <div class="box-width-radius shadow">
                            <div class="list-group">
                                <a href="{%  url 'smartphone:smartphone-compare' smartphone.pk%}" class="list-group-item list-group-item-action">
                                    {{ smartphone.name }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
            {% endif %}
            {% if clicked %}
                      <div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
                {% include 'smartphone/base/base_detail.html' with object=first_smartphone %}
                      </div>
            {% endif %}
            </div>
        </div>