<a href="{%  url 'smartphone:smartphone-detail' smartphone.pk %}" class="list-group-item list-group-item-action rounded my-4">
    <div class="text-center">
        <div class="p-2-lg m-1 py-2">
            <h2 class="font-bold font-medium">{{ smartphone }}</h2>
        </div>
        {% if smartphone.mean_rating != 0 %}
        <div class="p-2-lg py-2 m-1">
            {{ smartphone.mean_rating }} <i class="fas fa-star review "></i>
        </div>
            {% else%}
            <div class="p-2-lg py-2 m-1 font">
            Nessuna valutazione
        </div>
        {%  endif %}
        <div class="p-2-lg py-2 m-3">
            <img class="mr-3 align-self-center" width="64" height="128" src="{{smartphone.img.url}}" alt="Generic placeholder image">
        </div>
        <div class="p-2-lg py-2">
            <footer class="blockquote-footer font-small">
                <span class="text-muted">Inserito da {{ smartphone.created_by }}
                </span>
            </footer>
        </div>
    </div>
</a>
