<div class="d-flex flex-row justify-content-lg-end justify-content-center align-items-center bd-highlight mb-3">
    <div class="m-2 bd-highlight">
        <span>Ordina per...</span>
    </div>
    <div class="m-2 bd-highlight">
        <select class="form-select" id="order-by" onchange="location = this.value;">
            <option value="{%  url 'smartphone:smartphone-list' %}?sort=name">Nome</option>
            <option value="{%  url 'smartphone:smartphone-list' %}?sort=brand">Brand</option>
            <option value="{%  url 'smartphone:smartphone-list' %}?sort=os">Sistema Operativo</option>
            <option value="{%  url 'smartphone:smartphone-list' %}?sort=mean_rating">Media stelle</option>
            <option value="{%  url 'smartphone:smartphone-list' %}?sort=-ram">Dim. Ram</option>
            <option value="{%  url 'smartphone:smartphone-list' %}?sort=-rom">Dim. Memoria</option>
            <option value="{%  url 'smartphone:smartphone-list' %}?sort=nfc">Presenza NFC</option>
        </select>
    </div>
</div>