{% load crispy_forms_tags %}
{% load static %}
<h2 class="font-large text-center font-bold m-3">Lascia un commento</h2>
<form method="post">{% csrf_token %}
    <div class="p-2 text-center">
        {% crispy form %}
        <input class="btn btn-success" type="submit" value="Pubblica">
        <a class="btn btn-danger m-3" href="{% url 'article:article-detail' object.pk%}">Annulla</a>
    </div>
</form>



