<a href="{%  url 'article:article-detail' article.pk %}" class="list-group-item list-group-item-action my-4">
    <div class="text-center">
        <div class="p-2-lg py-2 m-1">
            <h2 class="font-bold font-medium" style="word-break: break-word">{{ article }}</h2>
        </div>
        {% if article.img %}
            <div class="p-2-lg py-2 m-3">
                <img class="mr-3 align-self-center" width="64" height="64" src="{{article.img.url}}" alt="Generic placeholder image">
            </div>
        {% endif %}
        <div class="p-2-lg py-2">
            <footer class="blockquote-footer font-small"> Di {{ article.created_by }}<br><br>
                <span class="text-muted">Pubblicato {{ article.publish }}</span></footer>
        </div>
    </div>
</a>