<div class="d-flex flex-row justify-content-lg-end justify-content-center align-items-center bd-highlight mb-3">
    <div class="m-2 bd-highlight">
        <span>Ordina per...</span>
    </div>
    <div class="m-2 bd-highlight">
        <select class="form-select" id="order-by" onchange="location = this.value;">
            <option value="{%  url 'article:article-list' %}?sort=title">Titolo</option>
            <option value="{%  url 'article:article-list' %}?sort=created_by">Autore</option>
            <option value="{%  url 'article:article-list' %}?sort=publish">Data di pubblicazione</option>

        </select>
    </div>
</div>