<a href="{%  url 'user_management:user-overview' object.pk %}" class="list-group-item-action list-group-item mu-4 mb-4">
    <div class="text-center">
        <div class="p-2-lg m-1 py-2">
            <h2 class="font-bold font-medium">{{ object.username }}</h2>
        </div>
        {% if object.has_profile %}
            <div class="p-2-lg py-2 m-1">
                <img class="mr-3 align-self-center" width="64" height="128" src="{{ object.profile.profile_img.url }}" alt="Generic placeholder image">
            </div>
        {% endif %}
        <div class="p-2-lg py-2 m-1">
            {% if object.first_name %}
                <span class="font-medium font-bold"> Nome : </span>
                <span class="font-medium"> {{ object.first_name }}</span>
                <br>
            {% endif %}
            {% if object.last_name %}
                <span class="font-medium font-bold"> Cognome : </span>
                <span class="font-medium"> {{ object.first_name }}</span>
                <br>
            {% endif %}
            <span class="font-medium font-bold" >Email : </span>
            <span class="font-medium " style="word-break: break-word"> {{ object.email }}</span>
            <footer class="blockquote-footer font-small m-2"> Iscritto il {{ object.date_joined }}</footer>
        </div>
    </div>
</a>