<div class="d-flex flex-row justify-content-lg-end justify-content-center align-items-center bd-highlight mb-3">
    <div class="m-2 bd-highlight">
        <span>Ordina per...</span>
    </div>
    <div class="m-2 bd-highlight">
        <select class="form-select" id="order-by" onchange="location = this.value;">
            <option value="{%  url 'user_management:user-list' %}?sort=username">Username</option>
            <option value="{%  url 'user_management:user-list' %}?sort=first_name">Nome</option>
            <option value="{%  url 'user_management:user-list' %}?sort=has_profile">Profilo esistente</option>
            <option value="{%  url 'user_management:user-list' %}?sort=date_joined">Data di iscrizione</option>
            <option value="{%  url 'user_management:user-list' %}?sort=email">Email</option>
        </select>
    </div>
</div>