{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 d-flex justify-content-center">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row justify-content-lg-between justify-content-center rounded shadow m-2 p-5 text-center">


                    {% crispy form %}
                    <div class="row justify-content-center p-3">
                        <div class="col-lg-7 col-auto ">
                            {% block mod_buttons %}

                            {% endblock %}
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>



{% endblock %}

