{% extends 'base.html'%}
{% load static %}
{% block head_title  %}Homepage{% endblock %}
{% block background_class %}bg-home{% endblock %}
{% block content %}
    <div class="row mt-4 pt-3 p-2">

        <div class="col">
                <h1 class=" text-white text-center greetings mb-0 font-weight-bold">Benvenuto su PhoneAdvisor.</h1>
        </div>
    </div>
    <div class="row p-2">

        <div class="col">
                <h5 class=" text-white text-center greetings">Dai un'occhiata al riepilogo</h5>
        </div>
    </div>

    <div class="row p-5 justify-content-center">

        <div class="col-lg-4 col-10 d-flex justify-content-center p-2">
            <a type="button" class="btn-lg btn-success btn" href="{% url 'smartphone:smartphone-add' %}">
                Inserisci una scheda tecnica
            </a>
        </div>
        <div class="col-lg-4 col-10 d-flex justify-content-center p-2">
            <a type="button" class="btn-lg btn-success btn" href="{% url 'smartphone:smartphone-compare' 0 0 0 %}">
                Compara smartphone
            </a>
        </div>
        <div class="col-lg-4 col-10 d-flex justify-content-center p-2">
            <a type="button" class="btn-lg btn-success btn" href="{% url 'article:article-add' %}">
                Inserisci un articolo
            </a>

        </div>
    </div>

    <div class="row p-4-lg p-2 justify-content-center">

        <div id="homepage-summary-first-box" class="col-lg-5 col-10 box-width-radius2 rounded shadow m-3 p-2 bg-white">
            <h2 class="m-2 font-bold text-center">5 smartphone meglio classificati </h2>
            {% include 'smartphone/base/base_list.html'  with object_list=recent_smartphones %}
        </div>

        <div id="homepage-summary-second-box" class="col-lg-5 col-10 box-width-radius2 rounded shadow m-3 p-2 bg-white">
            <h2 class="m-2 font-bold text-center ">5 Articoli più recenti </h2>
            {% include 'article/base/base_list.html'  with object_list=recent_articles %}
    </div>
    </div>


{% endblock %}