{% url 'smartphone:smartphone-compare' as compare_url %}
{%  load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between p-3">

    <div class="d-lg-none col-12 col-lg-1 d-flex justify-content-lg-start justify-content-center align-items-center">
        <button class="btn btn-light toggler d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span    class="font-bold"><img src="{% static "img/business.png" %}" width="60" height="30" alt=""></span>
        </button>
    </div>

    <div class="col-12 col-lg-5">
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto text-center ">
                <li class="d-xl-none d-lg-none d-md-block d-sm-block d-xs-block nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'home'%}">Home
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="d-none d-lg-block d-xl-block nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'home'%}">
                        <img src="{% static "img/business.png" %}" width="60" height="30" alt=""></a>
                </li>
                <li class="nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'user_management:user-list' %}">Utenti</a>
                </li>
                <li class="nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'smartphone:smartphone-add' %}">Nuova scheda tecnica</a>
                </li>
                <li class="nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'smartphone:smartphone-list' %}">Schede tecniche</a>
                </li>
                <li class="nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'article:article-add' %}">Nuovo articolo</a>
                </li>
                <li class="nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'article:article-list' %}">Articoli</a>
                </li>
                <li class="nav-item d-flex justify-content-lg-start justify-content-center">
                    <a class="nav-link font-bold" href="{% url 'smartphone:smartphone-compare' 0 0 0 %}">Compara</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-lg-4 d-flex justify-content-lg-center justify-content-center">
        {% if not request.get_full_path == compare_url%}
            {% include 'searchbar.html' with compare=False %}
        {% endif %}
    </div>

    <div class="col-12 col-lg-2 d-flex justify-content-lg-end justify-content-center">
            <div class="row m-2 justify-content-center">
                {% if user.is_authenticated %}
                    <div class="col-12 d-flex justify-content-end">
                        <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'user_management:user-overview' user.pk%}"
                           role="button">{{ user.username }}</a>
                        <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'user_management:user-logout' %}"
                           role="button">Logout</a>
                    </div>
                {% else %}
                    <div class="col-12 d-flex justify-content-end">
                        <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'user_management:user-register' %}"
                           role="button">Registrati</a>
                        <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'user_management:user-login' %}"
                           role="button">Login</a>
                    </div>


                {% endif %}
            </div>

    </div>




</nav>
