{% extends 'base.html' %}
{% block head_title %}
    {% if query %}
        Risultati per {{ query }}
    {% else %}
        Risultati
    {% endif %}

{% endblock %}
{% block content %}
    <div class="container-fluid">


            {%  if object_list %}
                {% for object in object_list %}
                    <div class="row">
                        <div class="col d-flex justify-content-center rounded shadow p-4-lg m-3-lg mb-2 bg-white w-auto">
                            <div class="rounded w-100 m-1 p-1">
                                {% if object.category == "1" %}
                                    {%  include 'smartphone/base/list_element.html' with smartphone=object %}


                                {% elif object.category == "2"%}
                                    {% include 'article/base/list_element.html'  with article=object %}

                                {% elif object.category == "3"%}
                                    {% include 'user_management/base/list_element.html' with object=object%}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {%  else %}
                <div class="row">
                    <div class="col d-flex justify-content-center p-4-lg m-3-lg mb-2 bg-white w-auto">
                        <span class="text-center font-bold font-large">Nessun Risultato</span>
                    </div>
                </div>
            {%  endif %}
    </div>
{% endblock %}