{% load static %}

{% if compare %}

    <form id="{{ searchbar_form_id }}" class="my-2 my-lg-0"
          action="{% url 'smartphone:smartphone-compare' first_pk second_pk third_pk %}">
    <div class="row">
    {% comment %} {% elif  page_exist%}
                action="{% url 'smartphone:smartphone-compare' mypage page %}"> {% endcomment %}
{% else %}

    <form id="{{ searchbar_form_id }}" class="my-2 my-lg-0" method="GET"
          action="{% url 'global-search' %}" >
    <div class="row">
    <div class="col-5 auto p-0">
        <select id='searchbar-categories' class="form-select mx-1 btn-success" data-style="btn-success" name="category" >
            <option selected value="0">Qualsiasi categoria</option>
            <option value="1">Smartphone</option>
            <option value="2">Articoli</option>
            <option value="3">Utenti</option>
        </select>
    </div>

{% endif %}

{% if compare %}
    <div class="col-10 p-0 mx-1">
{% else %}
    <div class="col-5 p-0 mx-1">
{% endif %}

<input class="search-field form-control mx-1" type="search"
       placeholder="Cerca..." aria-label="Cerca" name="{{ search_name|default:"search"  }}" style="width: 100%">
</div>
<div class="col-1 p-0 d-flex align-items-center">
    <button class="btn btn-success mx-1"  type="submit">
        <i class="fas fa-search "></i>
    </button>
</div>


</div>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/searchbar.js' %}"></script>
