{% extends 'base.html' %}
{% load static %}

{% block head_title %}
    Confronta Smartphone
{% endblock %}
{% comment %}
    Page for displaying compare data relating to the analysis of two texts
{% endcomment %}

{% block title %}Confronto schede tecniche{% endblock %}

{% block content %}
    <div id='compare' class="row justify-content-center">
        <div class="col-lg-4 col-12">
            <div class="container-fluid rounded shadow pb-5">
                <div class="row">
                    <div class="col d-flex justify-content-around p-3">
                        {% with search_name='search1' first_pk=0 second_pk=second_pk third_pk=third_pk%}
                            {% include 'searchbar.html' with compare=True%}
                        {% endwith %}
                    </div>
                </div>
                {% if not first_clicked %}
                    {% for smartphone in first_list %}
                        <div class="row">
                            <div class="col-12 ">
                                <div class="list-group w-100 text-center m-2">
                                    <a href="{%  url 'smartphone:smartphone-compare' smartphone.pk second_pk third_pk%}" class="list-group-item list-group-item-action">
                                        {{ smartphone.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if first_pk != 0 %}
                    {% include 'smartphone/base/base_detail.html' with object=first_smartphone compare=True%}
                {% endif %}
            </div>
        </div>

        <div class="col-lg-4 col-12">
            <div class="container-fluid rounded shadow pb-5">
                <div class="row ">
                    <div class="col  d-flex justify-content-around p-3">
                        {% with search_name='search2' first_pk=first_pk second_pk=0 third_pk=third_pk%}
                            {% include 'searchbar.html' with compare=True%}
                        {% endwith %}
                    </div>
                </div>
                {% if not second_clicked %}
                    {% for smartphone in second_list %}
                        <div class="row">
                            <div class="col-12 ">
                                <div class="list-group w-100 text-center m-2">
                                    <a href="{%  url 'smartphone:smartphone-compare' first_pk smartphone.pk third_pk%}" class="list-group-item list-group-item-action">
                                        {{ smartphone.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if second_pk != 0 %}
                    {% include 'smartphone/base/base_detail.html' with object=second_smartphone compare=True%}
                {% endif %}
            </div>
        </div>

        <div class="col-lg-4 col-12">
            <div class="container-fluid rounded shadow pb-5">
                <div class="row">
                    <div class="col d-flex justify-content-around p-3">
                        {% with search_name='search3' first_pk=first_pk second_pk=second_pk third_pk=0 %}
                            {% include 'searchbar.html' with compare=True%}
                        {% endwith %}
                    </div>
                </div>
                {% if not third_clicked %}
                    {% for smartphone in third_list %}
                        <div class="row">
                            <div class="col-12 ">
                                <div class="list-group w-100 text-center m-2">
                                    <a href="{%  url 'smartphone:smartphone-compare' first_pk second_pk smartphone.pk %}" class="list-group-item list-group-item-action">
                                        {{ smartphone.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if third_pk != 0 %}
                    {% include 'smartphone/base/base_detail.html' with object=third_smartphone avg_rating=avg_rating_3 compare=True %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
