{% load static %}

<div class="container rounded shadow p-4">
    <div class="row">
        {% if reviews %}
        <h2 class="font-bold font-large text-center m-3">Recensioni</h2>
        {% else %}
            <h2 class="font-bold font-large text-center m-3">Nessuna recensione presente</h2>
        {% endif %}
    </div>
    <div class="row">

<div class="col ">
        <ul class="list-group list-group-flush">
            {% for review in reviews %}
                    <div class="card mr-2 ml-2 mu-2 mb-2 ">
                        <div class="card-body text-center">
                            <h5 class="card-title font-bold">{{ review.title }}</h5>
                             <h6 class="card-subtitle mb-2 text-muted">{{ review.rating }} <i class="fas fa-star review "></i></h6>
                            <p class="card-text">{{ review.description }}</p>
                            <a href="{% url 'user_management:user-overview' review.created_by.pk %}" class="card-link">{{ review.created_by.username }}</a>
                        </div>
                    </div>
                {% endfor %}

            </ul>

        </div>

</div>
</div>


