{% extends 'base_operations.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}Aggiunta nuovo smartphone{% endblock %}

{% block title %}Nuovo smartphone{% endblock %}

{% block mod_buttons %}
    <input class="btn btn-success mx-3 my-2" type="submit" value="Aggiungi smartphone">
    <a class="btn btn-primary mx-3 my-2" href="{% url 'home' %}">Ritorna alla home</a>
{% endblock %}

{% block javascript %}
    <script>
        $( "#id_name" ).change(function() {
            let smartphone_name=$(this).val();
            if(smartphone_name!==''){
                $.ajax({
                    url:'{% url 'smartphone:check-smartphone-name' %}',
                    type: 'GET',
                    data : { smartphone_name : smartphone_name },
                    dataType: 'json',
                    success: function (data) {
                        let smartphone_name_field = $('#id_name');
                        let smartphone_name_info = $('#smartphone-check');
                        if (data.is_used) {

                            smartphone_name_field.css('border-color', "#CC0000");
                            if ($('#smartphone-not-used').length) {
                                $('#smartphone-not-used').remove()
                            }
                            smartphone_name_info.append(
                                '<span id="smartphone-used" class="text-danger font-7 font-size-80">' +
                                'Telefono già inserito <br></span>'

                            );


                        }
                        else {
                            smartphone_name_field.css('border-color', "#00CC99");
                            if ($('#smartphone-used').length) {
                                $('#smartphone-used').remove()
                            }
                            smartphone_name_info.append(
                                '<span id="smartphone-not-used" class="text-success font-7 font-size-80">' +
                                ' Telefono non ancora inserito <br></span>'

                            );


                        }

                    },
                    error:function (data){
                    },

                })
            }


        });
    </script>
{% endblock %}