{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Elimina Smartphone
{% endblock %}
{% block content %}
    <h4>{{ object.first_name }} vuoi davvero eliminare questa scheda tecnica ?</h4>
    <form method="POST">
        {% csrf_token %}

    <input class='btn btn-success' type="submit" value ='Elimina '>
        <a class='btn btn-danger' href="{% url 'smartphone:smartphone-list'%}">Annulla</a>
    </form>
{% endblock %}