{% extends 'base_operations.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}Modifica smartphone{% endblock %}

{% block title%}Modifica smartphone{% endblock %}

{% block mod_buttons %}
 <input class="btn btn-success" type="submit" value="Modifica smartphone">
                    <a class="btn btn-primary ml-3" href="{% url 'smartphone:smartphone-detail' object.pk%}">Annulla</a>
{% endblock %}

{% block javascript %}
<script>
    $( "#id_name" ).change(function() {
        let smartphone_name=$(this).val();
        if(smartphone_name!==''){
        $.ajax({
            url:'{% url 'smartphone:check-smartphone-name' %}',
            type: 'GET',
            data : { smartphone_name : smartphone_name },
            dataType: 'json',
            success: function (data) {
                        let smartphone_name_field = $('#id_name');
                        if (data.is_used) {

                            smartphone_name_field.css('border-color', "#CC0000");
                            if(!$('#smartphone_name-exists-error').length) {
                                smartphone_name_field.after(
                                    ' <span id="smartphone_name-exists-error" class="text-danger font-7 font-size-80">' +
                                    'Modello già inserito' +
                                    '</span>'
                                );
                            }

                        }
                        else {
                            smartphone_name_field.css('border-color', "#00CC99");
                            $('#smartphone_name-exists-error').remove();

                        }

                    },
                    error:function (data){
                    },

                })
            }


        });
</script>
{% endblock %}