{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}
{{ object.name }}
{% endblock %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row ">
        <div class="col">
            <div class="container-fluid rounded shadow p-5">
        {% include 'smartphone/base/base_detail.html' with object=object %}
            </div>
        </div>
    </div>
        {% if user.is_authenticated %}
        <div class="mb-5 mu-5">
        {% include 'smartphone/base/base_review.html' with object=object %}
    </div>
        {% endif %}
    <div class="mb-5 mu-5" >
        {% include 'smartphone/review_list.html' with reviews=reviews%}
    </div>




{% endblock %}