{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Logged out{% endblock %}
{% block title %}Logged out{% endblock %}

{% block content %}
    <h4>Log outeseguito</h4>
    <a href="{% url 'user_management:user-login' %}">Ritorna al Login</a>
{% endblock %}