{% extends 'base_operations.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}Login{% endblock %}
{% block title %}Login{% endblock %}

{% block mod_buttons %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <input class="btn btn-success m-1" type="submit" value="Login">
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <a class="btn btn-primary m-1" href="{% url 'user_management:user-register' %}">Crea account</a>
        </div>
    </div>

{% endblock %}