{% extends 'base_operations.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}Registrazione{% endblock %}
{% block title %}Registrazione{% endblock %}
{% block mod_buttons %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <input class="btn btn-success m-1" type="submit" value="Crea account">
        </div>

        <div class="col-lg-6 col-12 d-flex justify-content-center">
            <a class="btn btn-primary m-1" href="{% url 'user_management:user-login' %}">Ritorna al login</a>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $( "#id_username" ).change(function() {
            let username=$(this).val();
            if(username!==''){
                $.ajax({
                    url:'{% url 'user_management:check-username' %}',
                    type: 'GET',
                    data : { username : username },
                    dataType: 'json',
                    success: function (data) {
                        let username_field = $('#id_username');
                        let username_info = $('#username-check');
                        if (data.is_used) {

                            username_field.css('border-color', "#CC0000");
                            if ($('#username-not-used').length) {
                                $('#username-not-used').remove()
                            }
                            username_info.append(
                                '<span id="username-used" class="text-danger font-7 font-size-80">' +
                                ' Username già utilizzato <br></span>'
                            );



                        }
                        else {
                            username_field.css('border-color', "#00CC99");
                            if ($('#username-used').length) {
                                $('#username-used').remove()
                            }

                            username_info.append(
                                '<span id="username-not-used" class="text-success font-7 font-size-80">' +
                                ' Username disponibile <br></span>'

                            );


                        }


                    },
                    error:function (data){

                    },

                })
            }

        });
    </script>
{% endblock %}